header {
width:100%; 
background-color:#4682B4;
padding: 10px;
height:150px;
text-align: center;
font-family: "Courier New", monotype;
font-style: italic; 
margin-top: 0;
color:white;
}
.h{display: block;
width:960px; 
margin-left: auto;
margin-right: auto;
}
#logo{
max-width:800px;
margin: 0 auto;
padding:10px;
float:left;
width:100px;
height:100px;
}
#nav{
display: block;
margin-left: auto;
margin-right: auto;
color:#4682B4;
width:960px; 
padding: 10px;
height:50px;
text-align: center;
margin-top:0;
font-family: "Courier New", monotype;
font-style: italic; 
font-weight:bold;
}
.ss{
display: block;
margin-left: auto;
margin-right: auto;
width:960px; 
background-color:#F0FFFF;
}
table{
margin-left: auto;
margin-right: auto;
background-color:#F0FFFF;
text-align: center;
border-collapse: collapse;
border:0;
}
.nch{
background-color:#4682B4;
}
.forms{
display: block;
margin-left: auto;
margin-right: auto;
width:960px; 
background-color:#F0FFFF;
text-align: center;
}
footer{
width:100%; 
background-color:#4682B4;
padding: 10px;
height:55px;
text-align: center;
font-family: "Courier New", monotype;
font-style: italic; 
margin-top: 0;
color:white;
}